In [4]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [35]:
# Load each data set (users, movies, and ratings).
#users_cols = ['user_id', 'gender', 'age', 'occupation', 'zip_code']
users = pd.read_csv(
    '/content/gdrive/My Drive/Colab_Notebooks/ml-1m/processed_.dat',)
users.drop(users.index[:0], inplace=True)
users
#users.to_csv('/content/gdrive/My Drive/Colab_Notebooks/ml-1m/processed_users1.dat', index=False)
#s=users.copy

      user_id gender  age            occupation zip_code
0           1      F    1          K-12 student    48067
1           2      M   56         self-employed    70072
2           3      M   25             scientist    55117
3           4      M   45  executive/managerial    02460
4           5      M   25                writer    55455
...       ...    ...  ...                   ...      ...
6035     6036      F   25             scientist    32603
6036     6037      F   45     academic/educator    76006
6037     6038      F   56     academic/educator    14706
6038     6039      F   45                 other    01060
6039     6040      M   25    doctor/health care    11106

[6040 rows x 5 columns]

In [0]:
import pandas as pd

In [43]:


movies = pd.read_csv(
    '/content/gdrive/My Drive/Colab_Notebooks/ml-1m/processed_movies.dat', encoding='latin-1')
del movies['Unnamed: 0']
movies

      MovieId                               Title  ... War  Western
0           1                    Toy Story (1995)  ...   0        0
1           2                      Jumanji (1995)  ...   0        0
2           3             Grumpier Old Men (1995)  ...   0        0
3           4            Waiting to Exhale (1995)  ...   0        0
4           5  Father of the Bride Part II (1995)  ...   0        0
...       ...                                 ...  ...  ..      ...
3878     3948             Meet the Parents (2000)  ...   0        0
3879     3949          Requiem for a Dream (2000)  ...   0        0
3880     3950                    Tigerland (2000)  ...   0        0
3881     3951             Two Family House (2000)  ...   0        0
3882     3952               Contender, The (2000)  ...   0        0

[3883 rows x 22 columns]

In [0]:
movies_cols = ['MovieId', 'Title', 'Genre']
location = "/content/drive/My Drive/Custlr/data/movies.dat"
df= pd.read_csv(location, sep="::", names=movies_cols)
print(df)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

      MovieId                               Title                         Genre
0           1                    Toy Story (1995)   Animation|Children's|Comedy
1           2                      Jumanji (1995)  Adventure|Children's|Fantasy
2           3             Grumpier Old Men (1995)                Comedy|Romance
3           4            Waiting to Exhale (1995)                  Comedy|Drama
4           5  Father of the Bride Part II (1995)                        Comedy
...       ...                                 ...                           ...
3878     3948             Meet the Parents (2000)                        Comedy
3879     3949          Requiem for a Dream (2000)                         Drama
3880     3950                    Tigerland (2000)                         Drama
3881     3951             Two Family House (2000)                         Drama
3882     3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 3 columns]

In [0]:
## Andi
dummies = df["Genre"].str.get_dummies(sep='|')
final = pd.concat([df, dummies], axis=1)
final

      MovieId                               Title  ... War  Western
0           1                    Toy Story (1995)  ...   0        0
1           2                      Jumanji (1995)  ...   0        0
2           3             Grumpier Old Men (1995)  ...   0        0
3           4            Waiting to Exhale (1995)  ...   0        0
4           5  Father of the Bride Part II (1995)  ...   0        0
...       ...                                 ...  ...  ..      ...
3878     3948             Meet the Parents (2000)  ...   0        0
3879     3949          Requiem for a Dream (2000)  ...   0        0
3880     3950                    Tigerland (2000)  ...   0        0
3881     3951             Two Family House (2000)  ...   0        0
3882     3952               Contender, The (2000)  ...   0        0

[3883 rows x 21 columns]

In [0]:
genre_cols = [
    "genre_unknown", "Action", "Adventure", "Animation", "Children's", "Comedy",
    "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror",

    "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"
]
movies_cols = ['MovieId', 'Title', 'Genre'] + genre_cols

df= pd.read_csv("movies.dat", sep="::", names=movies_cols, engine='python')

df

,MovieId,Title,Genre,genre_unknown,Action,Adventure,Animation,Children's,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Animation|Children's|Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Jumanji (1995),Adventure|Children's|Fantasy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Father of the Bride Part II (1995),Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3879,3949,Requiem for a Dream (2000),Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3880,3950,Tigerland (2000),Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3881,3951,Two Family House (2000),Drama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3882,3952,"Contender, The (2000)",Drama|Thriller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
new = df['Genre'].str.split('|', expand=True)
new.fillna(0)

              0           1        2  3  4  5
0     Animation  Children's   Comedy  0  0  0
1     Adventure  Children's  Fantasy  0  0  0
2        Comedy     Romance        0  0  0  0
3        Comedy       Drama        0  0  0  0
4        Comedy           0        0  0  0  0
...         ...         ...      ... .. .. ..
3878     Comedy           0        0  0  0  0
3879      Drama           0        0  0  0  0
3880      Drama           0        0  0  0  0
3881      Drama           0        0  0  0  0
3882      Drama    Thriller        0  0  0  0

[3883 rows x 6 columns]

In [0]:
df.fillna(0)

,MovieId,Title,Genre,genre_unknown,Action,Adventure,Animation,Children's,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Animation|Children's|Comedy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji (1995),Adventure|Children's|Fantasy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men (1995),Comedy|Romance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale (1995),Comedy|Drama,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II (1995),Comedy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,3948,Meet the Parents (2000),Comedy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,3949,Requiem for a Dream (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,3950,Tigerland (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,3951,Two Family House (2000),Drama,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,3952,"Contender, The (2000)",Drama|Thriller,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [0]:
df['genre_unknown'] = df['A'].apply(lambda A_: '1' if A_=='genre_unknown' else '0')
df['genre_unknown'] = df['B'].apply(lambda B_: '1' if B_=='genre_unknown' else '0')
df['genre_unknown'] = df['C'].apply(lambda C_: '1' if C_=='genre_unknown' else '0')
df['Action'] = df['A'].apply(lambda A_: '1' if A_=='Action' else '0')
df['Action'] = df['B'].apply(lambda A_: '1' if A_=='Action' else '0')
df['Action'] = df['C'].apply(lambda A_: '1' if A_=='Action' else '0')
#df['Adventure'] = df['A'].apply(lambda A_: '1' if A_=='Adventure' else '0')
#df['Adventure'] = df['B'].apply(lambda A_: '1' if A_=='Adventure' else '0')
#df['Adventure'] = df['C'].apply(lambda A_: '1' if A_=='Adventure' else '0')
#df['Comedy'] = df['A'].apply(lambda A_: '1' if A_=='Comedy' else '0')
df['Comedy'] = df['C'].apply(lambda A_: '1' if A_=='Comedy' else '0')
#df["Children's"] = df['B'].apply(lambda A_: '1' if A_=="Children's" else '0')